# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

POSTGRES_URL=****

NEXT_PUBLIC_RPC_URL=****

NEXT_PUBLIC_POSTHOG_KEY=****

NEXT_PUBLIC_PRIVY_APP_ID=****
PRIVY_APP_SECRET=****

